dash==0.39.0
dash-bootstrap-components==0.3.4
dash-core-components==0.44.0
dash-html-components==0.14.0
dash-renderer==0.20.0
dash-table==3.6.0
numpy==1.16.3
pandas==0.24.1
pvlib==0.6.3
pytz==2018.9
scipy==1.2.1
urllib3==1.24.1
pvcz==0.2.0
gunicorn=19.9.0